<div class="footer">
    <div class="row">
        <div class="col-4 align-middle">
            <img class="logo" src="~/images/CheckLanguageWhite.png" /> v.1.0
        </div>
        <div class="col-4 align-middle">
            Created by <a href="mailto:kammarkdev@gmail.com">Kamil Markiewicz</a> 
        </div>
        <div class="col-4 align-middle">
            © 2019 Kamil Markiewicz. All rights reserved.
        </div>
    </div>
</div>