<div class="header">
    <nav class="language-navbar navbar-expand">
        <ul class="nav justify-content-between text-justify align-middle">
            <li class="nav-item">
                <a asp-action="Index" class="nav-link">Strona główna</a>
            </li>
            <li class="nav-item">
                <a asp-action="About" class="nav-link">O aplikacji</a>
            </li>
            <li class="nav-item">
                <a asp-action="Frequencies" class="nav-link">Popularność liter w językach</a>
            </li>
        </ul>
    </nav>
</div>