<div class="main-content">
    <h4 class="headline">
        Check Language - aplikacja rozpoznająca język tekstu
    </h4>

    <p>
        Aplikacja Check Language rozpoznaje język wpisanego tekstu na podstawie przygotowanego algorytmu, który zlicza częstość wystąpienia liter we wpisanym
        tekście, a następnie porównuje otrzymaną częstość z odpowiednimi dla każdego z języków wartościami. Następnie wybierany jest język, którego częstości
        występowania liter są najbardziej zbliżone do częstości wprowadzonego tekstu.
    </p>
    <p>
        Aplikacja pomija w sprawdzaniu znaki interpunkcyjne, liczby oraz litery charakterystyczne tylko dla niektórych języków (np. ü, ą, ñ, itp.). W przypadku
        wprowadzenia do niej pojedynczych słów lub krótkich zdań aplikacja może pokazywać błędny język (gdyż wynik częstości wprowadzenia np. słowa "kot" nie 
        będzie zbyt miarodajny).
    </p>
    <p>
        Autorem aplikacji jest Kamil Markiewicz. Dane kontaktowe znajdują się w stopce.
    </p>
</div>